@CHARSET "UTF-8";

.container {
	display:flex;
	flex-direction:raw
}

div.field {
	display:list-box;
	outline:solid 1px;
	padding-bottom: 0.2em;
	margin-bottom:10px
}

div.field section {
	background-color:red
}

div.field p {
	line-height:5px
}

div.field form {
	display:flex;
	flex-direction:column;
	align-items:center
}

div.input {
	margin:10px
}

div.item {
	border:solid 1px black
}

#mainbox {
	border:solid 1px gray;
	width:65%;
	margin:10px;
	column-count:3
}

#mainbox table {
	border:1;
	withd:100%
}

#mainbox > img {
	display:inline
}

#leftbox {
	width:15%
}

#rightbox {
	width:20%;
}