<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>メインページ</title>
<link rel=stylesheet href={{static_url('css/main.css')}}>
</head>
<body>
{% if id == 'guest' %}
<p>ようこそゲスト様 <a href=/user>ユーザー登録</a>
{% else %}
<p>ようこそ{{id}}様
{% end %}
<div class=container>
	<div class=box id=leftbox>
	{% module mybox(items) %}
	{% module newbox(new) %}
		<div class=field>
		<form action=/main>
			<input type=search name=search><input type=submit value=検索>
		</form>
		</div>
	</div>
	{% block contents %}
	<div class=box id=mainbox>
		<p>いらっしゃいませ{{id}}様
		<caption>商品一覧</caption>
		{% for x in data %}
		<div class=item>
			<p><img src={{x['url']}}>{{x['item_id']}}:<a href=/main?detail={{x['item_id']}}>{{x['name']}}</a>
			<p>price {{x['price']}}円
		</div>
		{% end %}
		</table>
	</div>
	{% end %}
	<div class=box id=rightbox>
	{% module mycart(cart) %}
	{% module mycount(number) %}
	{% module login(id) %}
	</div>
</div>
</body>
</html>