<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>カートの中身</title>
</head>
<script type=text/javascript src=http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js></script>
<script type=text/javascript>
$(function(){
	$('button#ok').on('click',function(){
		window.location = '/payment';
	});
	$('button#cancel').on('click',function(){
		window.location = '/main';
	});
});
</script>
<body>
<p>ショッピングカート
<table>
{% set s = 0 %}
{% for x in data %}
<tr><td><img src={{x['url']}}></td><td>{{x['name']}}</td><td>{{x['count']}}</td>
	<td>{{x['price']*x['count']}}</td><td><a href=/del?id=x['id']>削除</a></td></tr>
{% set s += x['price'] %}
{% end %}
</table>
<p>お支払金額（合計）{{s}} +（消費税）{{s*0.08}} = {{s*1.08}}円
<button id=ok>決済画面</button><button id=cancel>戻る</button>
</body>
</html>