<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
<script type=text/javascript src=http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js></script>
<style>
span {
	color:red;
	text-align:end
}
</style>
</head>
<body>
<form action=/user method=post>
<table>
<caption>ユーザー登録情報</caption>
<tr><td>お名前<span>*</span></td><td><input type=text name=name></td></tr>
<tr><td>生年月日<span>*</span></td><td><input type=date name=birth></td></tr>
<tr><td>メールアドレス<span>*</span></td><td><input type=email name=email></td></tr>
<tr><td>お客様住所</td><td><input type=text name=address></td></tr>
<tr><td>パスワード<span>*</span></td><td><input type=password name=password></td></tr>
<tr><td>確認<span>*</span></td><td><input type=password></td></tr>
<tr><td align=right><input type=submit value=登録></td><td><input type=button value=戻る onclick="location.href='/main'"></td></tr>
</table>
</form>
</body>
</html>