<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
<script type=text/javascript src=http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js></script>
<script type=text/javascript src={{static_url('js/user.css')}}></script>
</head>
<body>
<table>
<caption>ユーザー登録情報</caption>
<tr><td>お名前</td><td><input type=text id=name></td></tr>
<tr><td>生年月日</td><td><input type=text id=birth></td></tr>
<tr><td>メールアドレス</td><td><input type=text id=email></td></tr>
<tr><td>お客様住所</td><td><input type=text id=address></td></tr>
<tr><td>パスワード</td><td><input type=password id=password></td></tr>
<tr><td>確認</td><td><input type=password></td></tr>
<tr><td align=right><button>登録</button></td><td><button>破棄</button></td></tr>
</body>
</html>